<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de Alagamento</title>
    <meta name="description" content="Front End para nosso sistema de Monitoramento de Alagamentos/Enchentes">
    <meta name="author" content="Paulo Cruz">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1 style="text-align: center;">Sistema de Monitoramento de Alagamentos/Enchentes</h1>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="index.html">Monitoramento</a>
                </li>
                <li>
                    <a href="projeto.html">Sobre Projeto</a>
                </li>
                <li>
                    <a href="grupo.html">Sobre Grupo</a>
                </li>
            </ul>
        </nav>

        <header>
            <div>
                <img src="../static/img/Alagamento.jpeg"></img>
            </div>
        
        <h2>Apresentação do Projeto</h2>
        </header>

        <main>
            <section>
                <h3>Resumo</h3>
                <p>
                    Enchentes e alagamentos causam prejuízos da ordem de bilhões de reais todos os anos, além de resultarem em perdas humanas inestimáveis. Segundo a Aon plc (2024), 
                    no Global Catastrophe Recap Report, os desastres naturais registrados no Brasil entre janeiro e setembro de 2024 geraram perdas estimadas em aproximadamente 
                    US$ 6,4 bilhões (cerca de R$ 37 bilhões). As enchentes ocorridas no estado do Rio Grande do Sul, entre os dias 28/04 e 3/5/2024, configuraram-se como o evento de 
                    maior impacto econômico no período, com prejuízos estimados em US$ 5 bilhões.
                </p>
            </section>
            <section>
                <h3>Metodologia</h3>
                <p>
                    Nosso sistema de reconhecimento de enchentes e alagamentos foi desenvolvido em linguagem Python, utilizando bibliotecas como:
                    <li>OpenCV: para capturar imagens da camera;<br></li>
                    <li>Labelimg: para demarcação das marcações que determinam o os níveis de altura da água<br></li>
                    <li>YoloV8: referente a reconhecimento e treinamento de imagem.</li>
                </p>
            </section>
        </main>
    </div>
</body>
</html>