<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento de Alagamento</title>
    <meta name="description" content="Front End para nosso sistema de Monitoramento de Alagamentos/Enchentes">
    <meta name="author" content="Paulo Cruz">
    <link rel="stylesheet" href="{{ url_for ('static', filename ='style.css' )}}">
    
</head>
<body>
    <h1 style="text-align: center;">Sistema de Monitoramento de Alagamentos/Enchentes</h1>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="/projeto">Sobre Projeto</a>
                </li>
                <li>
                    <a href="/index">Monitoramento</a>
                </li>
                <li>
                    <a href="/grupo">Sobre Grupo</a>
                </li>
            </ul>
        </nav>

        <header>
            <div>
                <img src="../static/img/Alagamento.jpeg"></img>
            </div>
        
        <h2>Apresentação do Projeto</h2>
        </header>

        <main>
            <section>
                <h3>Resumo Executivo</h3>
                <p>
                    Este Trabalho de Conclusão de Curso apresenta o desenvolvimento de um sistema inteligente para reconhecimento de enchentes, 
                    inundações e alagamentos por meio de câmeras e réguas marcadoras, visando integrar-se a iniciativas de cidades inteligentes 
                    em São Paulo. Esta necessidade de monitoramento vem diante do aumento de eventos climáticos extremos no Brasil. Nossa solução 
                    propõe monitoramento visual com câmera em tempo real, uso de inteligência artificial e utilizando recursos de linguagem Python, 
                    bibliotecas OpenCV e YOLOv8. O sistema coleta imagens e identifica alterações que indiquem alagamentos através de processamento. 
                    Os testes demonstraram eficiência na detecção e emissão imediata de alertas, mesmo em condições adversas de iluminação. 
                    Conclui-se que o sistema é tecnicamente viável, de fácil integração e potencialmente útil para apoiar a Defesa Civil na prevenção 
                    e mitigação de desastres urbanos, contribuindo para uma gestão mais inteligente e resiliente.
                </p>
	            <p>
                Palavras-chave: OpenCV; YOLOv8; Python; Câmera
                </p>
            </section>
        </main>
    </div>
</body>
</html>